@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200;300;400&family=Roboto:wght@100;300;400&display=swap');


body{	
	font-family: 'Bitter', serif;
	margin: 0px;
	background-color:	#023047;
  transition: color 0.5s ease;
}

h1, h2, h3, { 
font-family: Roboto, sans-serif;
font-weight: bold;
font-size: 24px;
}

a { 
text-decoration: none;
transition: color 0.5s ease;
 }

 button { 
 text-decoration: auto;
  }
   

  p {
  font-family: 'BITTER';
    margin: auto 270px;
    justify-content: center;
    font-size: 15px;
    margin: 45px 270px;
     padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.6);
    border-radius: 6px;
    color: #black;
    background-color: #8ecae6;
  }

  h3 {
color: white;
  }
  
  h4 {
  	font-family: Roboto, sans-serif;
font-weight: bold;
font-size: 24px;
margin: 20px 270px;

  }

  h5 {
    font-family: 'BITTER';
    font-size: 15px;
    justify-content: center;
  }


.banner {
	background-image: linear-gradient( -225deg, rgba(0,0,0,0.7) 0%, #EF1A2D 15%, rgba(0,0,0,0.3) 100%), url(../../images/background.png);
color: white;
padding: 110px 0px;
background-size: cover;
background-position: center;
}

.banner h1 {

	font-size: 50px;
margin-bottom: 0px;
}

.banner h2 {

	font-size: 30px;
	font-weight: lighter;
	opacity: 0.85;
	margin-bottom: 120px;
}

.banner button {
color: blue;
font-family: Roboto;

}

.btn-blue {
background-color: black;
    padding: 10px 15px;
    border-radius: 6px;
    color: white;
    font-weight: 300;
    font-family: Roboto, sans-serif;
}

.btn-blue:hover {
	background-color: white;
	color: black;
}

.card {
 padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.6);
    border-radius: 6px;
    margin: 60px 1px;
    flex-basis: 380px;
    flex-grow: 1;
    color: black;
    background-color: #219ebc;
}
.card img {
width: 210px; 
border-radius: 6px;
}

.card h3 {
flex-grow: 1;
margin: auto 180px;
font-size: 22px;
font-family: Roboto;
font-weight: bolder;
justify-content: center;
}

.card a {
background-color: black;
    padding: 10px 15px;
    border-radius: 6px;
    color: white;
    font-weight: 300;
    font-family: Roboto, sans-serif;
    font-size: 22px;
}

.card a:hover {
    background-color: white;
    color: black;
}

.avatar {
width: 320px;
height: 180px;
border: 4px solid rgba(180,180,180,1);
border-radius: 10px; 
}

.container { 
width: 900px;
margin: 0 auto;
 }

 @media (max-width: 1000px) {
.container {
width: 700px;
}
}

@media (max-width: 650px) {
.container {
width: 400px;
}
}